##############################################
##
##  [test_info]             
##  boart: lv-1.2
##	mcu: stm32f446
##	file_suffix: bin
##
##############################################

[include fluidd.cfg]

[mcu]
##	Obtain definition by "ls -l /dev/serial/by-id/" 
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_38005F000851303532383235-if00

[printer]
kinematics: none
max_velocity: 300  
max_accel: 3000
square_corner_velocity: 5.0


[extruder]
step_pin: PD10
dir_pin: PD9
enable_pin: !PD13
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PG10
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4
min_temp: 0
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
max_extrude_cross_section: 2.0
control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.045
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040


##  E0 on MOTOR6
##  Connected to STEPPER 4
[tmc2209 extruder]
uart_pin: PD11
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[gcode_macro TEST_POWER]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=250

